%p
  Dear #{@content[:user]},
%p Thank you for participating in the Future Mobility Survey.
%p
  Now that you have been using the system for a few days, we would like to ask you a few questions and hear about your experience using our system. Your feedback is valuable and will help us improve the system.
  We would appreciate if you schedule a feedback session with us by clicking #{link_to "here", "https://fmsurvey.sg/pages/calendar"}.
%p If you have any questions, please feel free to email us at fmsurvey@smart.mit.edu or call 9124 9322.
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
