%p
  Hello #{@content[:user]},
%p
  At this point, you have collected 14 days of travel data. Please be reminded to log in to our site #{link_to "here", "https://www.fmsurvey.sg"} to tell us more about your daily activities. To qualify for the thank you gift, you need to complete the activity diary for at least 5 days.
%p We strongly encourage you to schedule a brief tutorial session with one of our assistants to better understand how to validate your data in the activity diary. With your permission, our assistant will be able to see your browser in order to guide you through the process. You can schedule this session by logging in and clicking on the orange "Need Help?" button on the left of our webpage. Once you have collected data for 14 days and have provided us with additional information about five of them, we will contact you to finalize your incentive payment.
%p If you have any questions, comments or concerns, please don’t hesitate to email us at fmsurvey@smart.mit.edu or call 9124 9322.
%p Thank you for your participation!
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
