%p
  Hello #{@content[:user]},
%p At this point, you have collected data for several days. Please remember to log in to our app again to continue data collection.
%p To qualify for the thank you gift, you are required to collect data for 14 days and fill out the Activity Diary for 5 of them. Please note that you have to complete the survey to qualify for the gift.
%p If you have any questions, comments or concerns, please don’t hesitate to email us at fmsurvey@smart.mit.edu or call 9124 9322
%p Thank you for your participation!
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
