Support needed

Day to validate: #{@values[:selected_date]}

Survey Type: #{@values[:surveytype]}
Computer OS: #{@values[:computerOS]}
Browser: #{@values[:browser]}

Phone Brand: #{@values[:phonebrand]}
Phone OS: #{@values[:androidversion]}

Steps to produce the error:
\#{@values[:steps]}

Final Error Message:
\#{@values[:errormsg]}
